# Bot configuration
Token = YOUR_BOT_TOKEN
AppID = DISCORD_BOT_APP_ID
GuildID = GUILD_ID_WHERE_THE_BOT_RUNS
LogChannelID = CHANNEL_TO_SEND_MESSAGE_LOGS_TO
MemberRoleID = MEMBERS_ROLE_ID
ReactionRolesChannelID = CHANNEL_ID_TO_SEND_REACTION_ROLES_EMBED
ReactionRoles = 1406810991613968556,Windows,🪟|1406810915164262532,Linux,🐧|1406811091299729429,MacOS,🍎 // Format: ROLEID,ROLENAME,ROLEEMOJI|ROLEID2,ROLENAME2,ROLEEMOJI2|...
AnonWebhook = WEBHOOK_FOR_ANONYMOUS_MESSAGES
AnonChannelID = CHANNEL_WHERE_MESSAGES_ARE_ANONIMIZED